# This janalyzer configuration file was created on: 2017-06-27 14:46:59
# Version: 1.5

<projectname>   collab
<application>   ${PRJPATH}/collab/challenge_program/Collab.jar
<libraries>     ${PRJPATH}/collab/challenge_program/lib/netty-all-4.0.36.Final.jar
<applAverroes>  ${JANPATH}/test/averroes/collab/averroes-lib-class.jar
<applAverroes>  ${JANPATH}/test/averroes/collab/organized-app.jar
<libAverroes>   ${JANPATH}/test/averroes/collab/placeholder-lib.jar
<addentries>    ${JANPATH}/test/averroes/collab/entry
<mainClass>     collab.RunCollab
<startScript>   ${PRJPATH}/collab/challenge_program/startServer.sh
<appRegEx>      client.**:collab.**
<averroes>      yes
<exception>     no
<infloop>       yes
<audiofback>    no
<cgoptions>     0-CFA
<pubmeths>      no
<decompiler>    Procyon
<debugger>      1
