# This janalyzer configuration file was created on: 2018-07-14 15:49:02
# Version: 1.5

<projectname>   battleboats_2
<application>   ${PRJPATH}/battleboats_2/challenge_program/lib/battleboats_2.jar
<usedapis>      ${PRJPATH}/battleboats_2/APIsUsed.txt
<averroes>      no
<exception>     no
<infloop>       yes
<audiofback>    no
<cgoptions>     0-CFA
<pubmeths>      no
<decompiler>    fernflower
<debugger>      1
