# This janalyzer configuration file was created on: 2017-06-27 14:50:12
# Version: 1.5

<projectname>   linear_algebra_platform
<application>   ${PRJPATH}/linear_algebra_platform/challenge_program/linalgservice.jar
<libraries>     ${PRJPATH}/linear_algebra_platform/challenge_program/gson-2.4.jar
<libraries>     ${PRJPATH}/linear_algebra_platform/challenge_program/nanohttpd-2.2.0.jar
<applAverroes>  ${JANPATH}/test/averroes/linear_algebra_platform/averroes-lib-class.jar
<applAverroes>  ${JANPATH}/test/averroes/linear_algebra_platform/organized-app.jar
<libAverroes>   ${JANPATH}/test/averroes/linear_algebra_platform/placeholder-lib.jar
<usedapis>      ${PRJPATH}/linear_algebra_platform/APIsUsed.txt
<addentries>    ${JANPATH}/test/averroes/linear_algebra_platform/entry
<mainClass>     com.example.linalg.Main
<startScript>   ${PRJPATH}/linear_algebra_platform/challenge_program/startServer.sh
<appRegEx>      com.example.**
<averroes>      yes
<exception>     no
<infloop>       yes
<audiofback>    no
<cgoptions>     0-CFA
<pubmeths>      yes
<decompiler>    Procyon
<debugger>      1
