# This janalyzer configuration file was created on: 2017-06-27 14:53:58
# Version: 1.5

<projectname>   rsa_commander
<application>   ${PRJPATH}/rsa_commander/challenge_program/challenge_program.jar
<applAverroes>  ${JANPATH}/test/averroes/rsa_commander/averroes-lib-class.jar
<applAverroes>  ${JANPATH}/test/averroes/rsa_commander/organized-app.jar
<libAverroes>   ${JANPATH}/test/averroes/rsa_commander/placeholder-lib.jar
<usedapis>      ${PRJPATH}/rsa_commander/APIsUsed.txt
<addentries>    ${JANPATH}/test/averroes/rsa_commander/entry
<mainClass>     stac.Main
<startScript>   ${PRJPATH}/rsa_commander/examples/run_client.sh
<appRegEx>      stac.**
<averroes>      yes
<exception>     no
<infloop>       yes
<audiofback>    no
<cgoptions>     0-CFA
<pubmeths>      no
<decompiler>    Procyon
<debugger>      1
