# This janalyzer configuration file was created on: 2017-06-27 14:55:46
# Version: 1.5

<projectname>   tweeter
<application>   ${PRJPATH}/tweeter/challenge_program/Tweeter-1.0.0a.jar
<libraries>     ${PRJPATH}/tweeter/janalyzer/common/lib/classes.jar
<libraries>     ${PRJPATH}/tweeter/janalyzer/common/lib/antlr-2.7.7.jar
<libraries>     ${PRJPATH}/tweeter/janalyzer/common/lib/aspectjweaver-1.8.9.jar
<libraries>     ${PRJPATH}/tweeter/janalyzer/common/lib/classmate-1.3.1.jar
<libraries>     ${PRJPATH}/tweeter/janalyzer/common/lib/dom4j-1.6.1.jar
<libraries>     ${PRJPATH}/tweeter/janalyzer/common/lib/groovy-2.4.7.jar
<libraries>     ${PRJPATH}/tweeter/janalyzer/common/lib/h2-1.3.176.jar
<libraries>     ${PRJPATH}/tweeter/janalyzer/common/lib/hibernate-commons-annotations-5.0.1.Final.jar
<libraries>     ${PRJPATH}/tweeter/janalyzer/common/lib/hibernate-core-5.0.9.Final.jar
<libraries>     ${PRJPATH}/tweeter/janalyzer/common/lib/hibernate-entitymanager-5.0.9.Final.jar
<libraries>     ${PRJPATH}/tweeter/janalyzer/common/lib/hibernate-jpa-2.1-api-1.0.0.Final.jar
<libraries>     ${PRJPATH}/tweeter/janalyzer/common/lib/hibernate-validator-5.2.4.Final.jar
<libraries>     ${PRJPATH}/tweeter/janalyzer/common/lib/jackson-annotations-2.8.1.jar
<libraries>     ${PRJPATH}/tweeter/janalyzer/common/lib/jackson-core-2.8.1.jar
<libraries>     ${PRJPATH}/tweeter/janalyzer/common/lib/jackson-databind-2.8.1.jar
<libraries>     ${PRJPATH}/tweeter/janalyzer/common/lib/jandex-2.0.0.Final.jar
<libraries>     ${PRJPATH}/tweeter/janalyzer/common/lib/javassist-3.20.0-GA.jar
<libraries>     ${PRJPATH}/tweeter/janalyzer/common/lib/javax.transaction-api-1.2.jar
<libraries>     ${PRJPATH}/tweeter/janalyzer/common/lib/jboss-logging-3.3.0.Final.jar
<libraries>     ${PRJPATH}/tweeter/janalyzer/common/lib/jcl-over-slf4j-1.7.21.jar
<libraries>     ${PRJPATH}/tweeter/janalyzer/common/lib/joda-time-2.9.3.jar
<libraries>     ${PRJPATH}/tweeter/janalyzer/common/lib/jul-to-slf4j-1.7.21.jar
<libraries>     ${PRJPATH}/tweeter/janalyzer/common/lib/log4j-over-slf4j-1.7.21.jar
<libraries>     ${PRJPATH}/tweeter/janalyzer/common/lib/logback-classic-1.1.7.jar
<libraries>     ${PRJPATH}/tweeter/janalyzer/common/lib/logback-core-1.1.7.jar
<libraries>     ${PRJPATH}/tweeter/janalyzer/common/lib/nekohtml-1.9.15.jar
<libraries>     ${PRJPATH}/tweeter/janalyzer/common/lib/ognl-3.0.8.jar
<libraries>     ${PRJPATH}/tweeter/janalyzer/common/lib/slf4j-api-1.7.21.jar
<libraries>     ${PRJPATH}/tweeter/janalyzer/common/lib/snakeyaml-1.17.jar
<libraries>     ${PRJPATH}/tweeter/janalyzer/common/lib/spring-aop-4.3.2.RELEASE.jar
<libraries>     ${PRJPATH}/tweeter/janalyzer/common/lib/spring-aspects-4.3.2.RELEASE.jar
<libraries>     ${PRJPATH}/tweeter/janalyzer/common/lib/spring-beans-4.3.2.RELEASE.jar
<libraries>     ${PRJPATH}/tweeter/janalyzer/common/lib/spring-boot-1.4.0.RELEASE.jar
<libraries>     ${PRJPATH}/tweeter/janalyzer/common/lib/spring-boot-autoconfigure-1.4.0.RELEASE.jar
<libraries>     ${PRJPATH}/tweeter/janalyzer/common/lib/spring-boot-starter-1.4.0.RELEASE.jar
<libraries>     ${PRJPATH}/tweeter/janalyzer/common/lib/spring-boot-starter-aop-1.4.0.RELEASE.jar
<libraries>     ${PRJPATH}/tweeter/janalyzer/common/lib/spring-boot-starter-data-jpa-1.4.0.RELEASE.jar
<libraries>     ${PRJPATH}/tweeter/janalyzer/common/lib/spring-boot-starter-jdbc-1.4.0.RELEASE.jar
<libraries>     ${PRJPATH}/tweeter/janalyzer/common/lib/spring-boot-starter-logging-1.4.0.RELEASE.jar
<libraries>     ${PRJPATH}/tweeter/janalyzer/common/lib/spring-boot-starter-security-1.4.0.RELEASE.jar
<libraries>     ${PRJPATH}/tweeter/janalyzer/common/lib/spring-boot-starter-thymeleaf-1.4.0.RELEASE.jar
<libraries>     ${PRJPATH}/tweeter/janalyzer/common/lib/spring-boot-starter-tomcat-1.4.0.RELEASE.jar
<libraries>     ${PRJPATH}/tweeter/janalyzer/common/lib/spring-boot-starter-web-1.4.0.RELEASE.jar
<libraries>     ${PRJPATH}/tweeter/janalyzer/common/lib/spring-context-4.3.2.RELEASE.jar
<libraries>     ${PRJPATH}/tweeter/janalyzer/common/lib/spring-core-4.3.2.RELEASE.jar
<libraries>     ${PRJPATH}/tweeter/janalyzer/common/lib/spring-data-commons-1.12.2.RELEASE.jar
<libraries>     ${PRJPATH}/tweeter/janalyzer/common/lib/spring-data-jpa-1.10.2.RELEASE.jar
<libraries>     ${PRJPATH}/tweeter/janalyzer/common/lib/spring-expression-4.3.2.RELEASE.jar
<libraries>     ${PRJPATH}/tweeter/janalyzer/common/lib/spring-jdbc-4.3.2.RELEASE.jar
<libraries>     ${PRJPATH}/tweeter/janalyzer/common/lib/spring-orm-4.3.2.RELEASE.jar
<libraries>     ${PRJPATH}/tweeter/janalyzer/common/lib/spring-security-config-4.1.1.RELEASE.jar
<libraries>     ${PRJPATH}/tweeter/janalyzer/common/lib/spring-security-core-4.1.1.RELEASE.jar
<libraries>     ${PRJPATH}/tweeter/janalyzer/common/lib/spring-security-web-4.1.1.RELEASE.jar
<libraries>     ${PRJPATH}/tweeter/janalyzer/common/lib/spring-session-1.2.1.RELEASE.jar
<libraries>     ${PRJPATH}/tweeter/janalyzer/common/lib/spring-tx-4.3.2.RELEASE.jar
<libraries>     ${PRJPATH}/tweeter/janalyzer/common/lib/spring-web-4.3.2.RELEASE.jar
<libraries>     ${PRJPATH}/tweeter/janalyzer/common/lib/spring-webmvc-4.3.2.RELEASE.jar
<libraries>     ${PRJPATH}/tweeter/janalyzer/common/lib/thymeleaf-2.1.5.RELEASE.jar
<libraries>     ${PRJPATH}/tweeter/janalyzer/common/lib/thymeleaf-layout-dialect-1.4.0.jar
<libraries>     ${PRJPATH}/tweeter/janalyzer/common/lib/thymeleaf-spring4-2.1.5.RELEASE.jar
<libraries>     ${PRJPATH}/tweeter/janalyzer/common/lib/tomcat-embed-core-8.5.4.jar
<libraries>     ${PRJPATH}/tweeter/janalyzer/common/lib/tomcat-embed-el-8.5.4.jar
<libraries>     ${PRJPATH}/tweeter/janalyzer/common/lib/tomcat-embed-websocket-8.5.4.jar
<libraries>     ${PRJPATH}/tweeter/janalyzer/common/lib/tomcat-jdbc-8.5.4.jar
<libraries>     ${PRJPATH}/tweeter/janalyzer/common/lib/tomcat-juli-8.5.4.jar
<libraries>     ${PRJPATH}/tweeter/janalyzer/common/lib/unbescape-1.1.0.RELEASE.jar
<libraries>     ${PRJPATH}/tweeter/janalyzer/common/lib/validation-api-1.1.0.Final.jar
<libraries>     ${PRJPATH}/tweeter/janalyzer/common/lib/xercesImpl-2.9.1.jar
<libraries>     ${PRJPATH}/tweeter/janalyzer/common/lib/xml-apis-1.4.01.jar
<applAverroes>  ${JANPATH}/test/averroes/tweeter/averroes-lib-class.jar
<applAverroes>  ${JANPATH}/test/averroes/tweeter/organized-app.jar
<libAverroes>   ${JANPATH}/test/averroes/tweeter/placeholder-lib.jar
<usedapis>      ${PRJPATH}/tweeter/APIsUsed.txt
<mainClass>     com.tweeter.TwitterApplication
<startScript>   ${PRJPATH}/tweeter/challenge_program/startServer.sh
<appRegEx>      BOOT-INF.**:org.**
<averroes>      yes
<exception>     no
<infloop>       yes
<audiofback>    no
<cgoptions>     0-CFA
<pubmeths>      yes
<decompiler>    fernflower
<debugger>      1
