# This janalyzer configuration file was created on: 2017-06-27 14:55:05
# Version: 1.5

<projectname>   tour_planner
<application>   ${PRJPATH}/tour_planner/challenge_program/challenge.jar
<libraries>     ${PRJPATH}/tour_planner/challenge_program/deps.jar
<applAverroes>  ${JANPATH}/test/averroes/tour_planner/averroes-lib-class.jar
<applAverroes>  ${JANPATH}/test/averroes/tour_planner/organized-app.jar
<libAverroes>   ${JANPATH}/test/averroes/tour_planner/placeholder-lib.jar
<usedapis>      ${PRJPATH}/tour_planner/APIsUsed.txt
<addentries>    ${JANPATH}/test/averroes/tour_planner/entry
<mainClass>     com.graphhopper.http.GHServer
<startScript>   ${PRJPATH}/tour_planner/challenge_program/startServer.sh
<appRegEx>      com.graphhopper.**
<averroes>      yes
<exception>     no
<infloop>       yes
<audiofback>    no
<cgoptions>     0-CFA
<pubmeths>      no
<decompiler>    fernflower
<debugger>      1
