# This janalyzer configuration file was created on: 2017-06-27 14:48:06
# Version: 1.5

<projectname>   info_trader
<application>   ${PRJPATH}/info_trader/challenge_program/InfoTrader.jar
<libraries>     ${PRJPATH}/info_trader/challenge_program/lib/commons-collections-3.1.jar
<libraries>     ${PRJPATH}/info_trader/challenge_program/lib/commons-lang-2.4.jar
<libraries>     ${PRJPATH}/info_trader/challenge_program/lib/commons-logging-1.1.1.jar
<libraries>     ${PRJPATH}/info_trader/challenge_program/lib/jetty-all-9.2.17.v20160517.jar
<libraries>     ${PRJPATH}/info_trader/challenge_program/lib/jetty-all-9.3.9.v20160517-uber.jar
<libraries>     ${PRJPATH}/info_trader/challenge_program/lib/servlet-api-3.1.jar
<libraries>     ${PRJPATH}/info_trader/challenge_program/lib/slf4j-api-1.5.11 2.jar
<libraries>     ${PRJPATH}/info_trader/challenge_program/lib/slf4j-api-1.5.11.jar
<libraries>     ${PRJPATH}/info_trader/challenge_program/lib/slf4j-log4j12-1.5.11 2.jar
<libraries>     ${PRJPATH}/info_trader/challenge_program/lib/slf4j-log4j12-1.5.11.jar
<applAverroes>  ${JANPATH}/test/averroes/info_trader/averroes-lib-class.jar
<applAverroes>  ${JANPATH}/test/averroes/info_trader/organized-app.jar
<libAverroes>   ${JANPATH}/test/averroes/info_trader/placeholder-lib.jar
<addentries>    ${JANPATH}/test/averroes/info_trader/entry
<mainClass>     infotrader.messaging.controller.module.RunInfoTrader
<startScript>   ${PRJPATH}/info_trader/challenge_program/startServer.sh
<appRegEx>      infotrader.**
<averroes>      yes
<exception>     no
<infloop>       yes
<audiofback>    no
<cgoptions>     0-CFA
<pubmeths>      no
<decompiler>    Procyon
<debugger>      1
