# This janalyzer configuration file was created on: 2017-06-27 14:54:32
# Version: 1.5

<projectname>   smartmail
<application>   ${PRJPATH}/smartmail/challenge_program/SmartMail.jar
<libraries>     ${PRJPATH}/smartmail/challenge_program/lib/apache-mime4j-benchmark-0.7.2.jar
<libraries>     ${PRJPATH}/smartmail/challenge_program/lib/apache-mime4j-core-0.7.2.jar
<libraries>     ${PRJPATH}/smartmail/challenge_program/lib/apache-mime4j-dom-0.7.2.jar
<libraries>     ${PRJPATH}/smartmail/challenge_program/lib/apache-mime4j-examples-0.7.2.jar
<libraries>     ${PRJPATH}/smartmail/challenge_program/lib/apache-mime4j-storage-0.7.2.jar
<libraries>     ${PRJPATH}/smartmail/challenge_program/lib/commons-collections-3.1.jar
<libraries>     ${PRJPATH}/smartmail/challenge_program/lib/commons-lang-2.4.jar
<libraries>     ${PRJPATH}/smartmail/challenge_program/lib/commons-logging-1.1.1.jar
<libraries>     ${PRJPATH}/smartmail/challenge_program/lib/ftp4j-1.7.jar
<libraries>     ${PRJPATH}/smartmail/challenge_program/lib/guava-10.0.1.jar
<libraries>     ${PRJPATH}/smartmail/challenge_program/lib/hadoop-common-0.21.0.jar
<libraries>     ${PRJPATH}/smartmail/challenge_program/lib/hadoop-hdfs-0.21.0.jar
<libraries>     ${PRJPATH}/smartmail/challenge_program/lib/hadoop-hdfs-ant-0.21.0.jar
<libraries>     ${PRJPATH}/smartmail/challenge_program/lib/hadoop-mapred-0.21.0.jar
<libraries>     ${PRJPATH}/smartmail/challenge_program/lib/jetty-all-9.2.17.v20160517.jar
<libraries>     ${PRJPATH}/smartmail/challenge_program/lib/servlet-api-3.1.jar
<libraries>     ${PRJPATH}/smartmail/challenge_program/lib/slf4j-api-1.5.11 2.jar
<libraries>     ${PRJPATH}/smartmail/challenge_program/lib/slf4j-api-1.5.11.jar
<libraries>     ${PRJPATH}/smartmail/challenge_program/lib/slf4j-log4j12-1.5.11 2.jar
<libraries>     ${PRJPATH}/smartmail/challenge_program/lib/slf4j-log4j12-1.5.11.jar
<applAverroes>  ${JANPATH}/test/averroes/smartmail/averroes-lib-class.jar
<applAverroes>  ${JANPATH}/test/averroes/smartmail/organized-app.jar
<libAverroes>   ${JANPATH}/test/averroes/smartmail/placeholder-lib.jar
<usedapis>      ${PRJPATH}/smartmail/APIsUsed.txt
<addentries>    ${JANPATH}/test/averroes/smartmail/entry
<averroes>      yes
<exception>     no
<infloop>       yes
<audiofback>    no
<cgoptions>     0-CFA
<pubmeths>      yes
<decompiler>    Procyon
<debugger>      1
